{% extends '/base_cliente_registrado.html' %}
{% block title %}Medicamentos{% endblock %}
{% block content %}


<!-- Carrusel -->
<div>
  <div id=" carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="/static/img/carrusel/Carrusel01.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="/static/img/carrusel/Carrusel02.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/img/carrusel/Carrusel03.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- Contenido -->
<div class="container">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for dato in productos %}
    <div class="col">
      <div class="card h-100">
        <img src={{url_for( 'static' , filename='uploads/' + dato[7]) }} class="card-img-top" alt="Imagen Producto">
        <div class="card-body">
          <h5 class="card-title">{{dato[1]}}</h5>

          <p class="card-text">{{dato[2]}}</p>
          <h4 class="precios" style="color: orangered;">{{dato[4]}}</h4>
          <div class="centrarButton" align="center">
            <a class="btn btn-primary  btn-sm" href="/agregar?productId={{dato[0]}}" role="button">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- BOTÓN VER MÁS -->
  <div align="center" class="py-3">
    <a class="btn btn-primary  btn-sm" href="{{ url_for('cliente.medicamentoscliente') }}" role=" button">Ver más</a>
  </div>
  <hr>
</div>




{% endblock %}