
{% extends 'base_admin.html' %}
  {% block title %}{{titedit}}{% endblock %}

{% block content %}

	<!-- Content page-->
	<section class="full-box dashboard-contentPage">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="glyphicon glyphicon-th-list"></i></a>
				</li>

				<li>
					<a href="#!" class="btn-modal-help">
						<i class="glyphicon glyphicon-info-sign"></i>
					</a>
				</li>
			</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
			  <h1 class="text-titles text-center">{{titedit}}</h1>
			</div>
			<p class="lead text-center">{{desedit}}
			</p>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
          <ul class="nav nav-tabs" style="margin-bottom: 15px">
          </ul>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-md-10 col-md-offset-1">
                                <form action="{{url_for('administrador.actualizar_producto')}}" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="id_producto" value="{{productos[0]}}">

                                    <div class="form-group label-floating">
                                      <label class="control-label">{{adnom}}</label>
                                      <input  class="form-control" value="{{productos[1]}}" required type="text" class="input" placeholder="Nombre" name="nombre" id="nombre">
                                    </div>
                                    <div class="form-group label-floating">
                                        <label class="control-label">{{addes}}</label>
                                        <input  class="form-control" value="{{productos[2]}}" required type="text" class="input" placeholder="Descripcion" name="descripcion" id="descripcion">
                                      </div>
                                    <div class="form-group label-floating">
                                      <label class="control-label">{{adcant}}</label>
                                      <input  class="form-control" value="{{productos[3]}}" required type="text" class="input" placeholder="Cantidad" name="cantidad" id="cantidad">
                                    </div>
                                    <div class="form-group label-floating">
                                      <label class="control-label">{{adprec}}</label>
                                      <input  class="form-control" value="{{productos[4]}}" required type="number" class="input" placeholder="Precio" name="precio" id="precio">
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="control-label">{{adfech}}</label>
                                        <input  class="form-control" type="date" value="{{productos[6]}}" class="form-control" id="fecha_vencimiento" name="fecha_vencimiento" placeholder="Fecha Vencimiento" required>
                                    </div>
                                    <div class="form-group">
                                      <label class="control-label">{{adimg}}</label>
                                      <input type="text" readonly="" class="form-control" placeholder={{expl}}>
                                      <input type="file" name="imagen" id="imagen" required>
                                    </div>
                                    
                                        <div class="row">
                                            <div class="col">
                                                <p class="text-center">
                                                    <button href="#!" class="btn btn-danger btn-raised btn-sm"><i class="glyphicon glyphicon-remove-circle"></i> {{btncan}}</button>
                                                    <button type="submit" class="btn btn-info btn-raised btn-sm"><i class="zmdi zmdi-floppy"></i> {{btnsav}}</button>
            
                                                </p>
                                            </div>
                                        </div>
                                    
            
            
                                </form>
                            </div>
                        </div>
                    </div>




  {% endblock %}
